@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: var(--primary-page-bg);
  color: var(--primary-text-color);

  /* variables - global */
  --primary-page-bg: #edeef6;

  /* theme-based */
  --primary-text-color: #333;
  --modal-bg: #fff;
}

body.dark {
  --primary-page-bg: #0d0b13;
  --primary-text-color: #eef0f9;
  --modal-bg: #181717;
}


.navbar .container {
  padding: 10px 30px;
  display: flex;  
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  padding-top: 5px;
}

img {
  height: 90px;
  width: 90px;
  margin-top: -15px;
}

main {
  padding: 30px;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
} 

button {
  height: 50px;
  width: 150px;
  background-color: #f3ce46;
  color: black;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

}

/* opacity set to 0 hides this & only leaves button visible; pointer events make it possible to click button */
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;   
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: var(--modal-bg);
  padding: 60px 80px;
  margin-top: 130px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-height: 200px;
  max-height: 80vh;
  overflow-y: auto;
  }
  
.modal h3 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 20px;
}

.modal h4 {
  opacity: 0.7;
  font-size: 16px;
}

#close {
  margin-top: 40px;
}




